.question(*ngIf='enode')
  p(*ngIf='!enode.data.default_visibility')
    | Not visible by default
  .question-selection(*ngIf="enode.data.type == 'selection'")
    .selection-simple(*ngIf="enode.data.sub_type == 'simple'")
      p.title
        | {{enode.label.data}}
      .options(*ngFor='let o of enode.children')
        option-view([enode]='o')
    .selection-simple(*ngIf="enode.data.sub_type == 'dropdown'")
      p.title
        | {{enode.label.data}}
      select
        option(*ngFor='let oa of aux.children')
            | {{oa.label.data}}
        option(*ngFor='let op of enode.children')
          | {{op.label.data}}

    .selection-level(*ngIf="enode.data.sub_type == 'level'")
      p.title
        | {{enode.label.data}}
        input(type='number')
        
  .question-selection(*ngIf="enode.data.type == 'input'")
    .input-text(*ngIf="enode.data.sub_type == 'text'")
      label
        | {{enode.label.data}}
      option-view(*ngFor="let o of enode.children", [enode]="o")
    .input-text(*ngIf="enode.data.sub_type == 'text-short'")
      label
        | {{enode.label.data}}
      input(type="text")
    .input-text(*ngIf="enode.data.sub_type == 'text-long'")
      label
        | {{enode.label.data}}
      textarea()

  .question-selection(*ngIf="enode.data.type == 'remark'")
    hr
    p.remark
      | {{enode.label.data}}
    hr



