.taken-quiz-action(*ngIf="takenQuiz != null")
  h1
    | Taking (
    span(*ngIf="takenQuiz.questionary != null")
      | {{takenQuiz.questionary.code}} : {{takenQuiz.questionary.label.data}}
    | )


  .step-navigator-wrapper(*ngIf="takenQuiz.questionary != null")
    .step-navigator
      //-ol(*ngIf="takenQuiz.questionary.groups != null")
      ol
        li.selected(*ngIf="group != null")
          .step-navigator-item
            | {{ group.label.data }}

        //-li(*ngFor="let s of takenQuiz.questionary.groups", [class.selected]="currentGroup == s.id")
          //-.step-navigator-item
            //-| {{s.label.data}}


  .question-display(*ngIf="question != null")
    .question
      .question-code
        | {{question.code}}
      .question-text
        | {{question.label.data}}
      .question-body
        .type-radio(*ngIf="question.type=='selection' && question.subType =='simple'")
          .question-options
            ul.question-options-list(*ngIf="question.options != null")
              li.question-option(*ngFor="let o of question.options", [class.selected]="currentOption == o")
                label
                  | {{o.label.data}}
                  input(type="radio",[value]='o.id',[name]="'radioName'", (click)="sendAnswer(o);")

              //-.type-level(*ngIf="question.type=='selection' && question.subType='level'")
                //-.question-options
                  //-.question-level.text-center(*ngIf="question.options != null")
                    //-select([(ngModel)]="data.value", (change)="beforeAddAnswer(null)")
                      //-option(disabled)
                        //-| Select a value
                      //-option(*ngFor="let l of getArrayLevel()", [value]="l")
                        //-| {{l}}

              //-.type-remark(*ngIf="question.type=='remark'")
                //-.question-options
                  //-.question-remark
                    //-button((click)="beforeAddAnswer(null)")
                      //-| Continue

              //-.type-remark(*ngIf="question.type=='input' && question.subType='text'")
                //-.question-options
                  //-.question-text
                    //-textarea([(ngModel)]="data.text")
                    //-button((click)="beforeAddAnswer(null)")
                      //-| Continue

