.group(*ngIf='enode')
  p(*ngIf='!enode.data.default_visibility')
    | Not visible by default
  p.title
    | {{enode.label.data}}
  .group-children(*ngFor='let o of enode.children')
    question-view(*ngIf="o.type == 'question'", [enode]='o')
    group-view(*ngIf="o.type == 'group'", [enode]='o')

