
<div class="tree-node" *ngIf="node != null">
  <input *ngIf="node.type == 'match-logic' || node.type == 'logic'" type="checkbox" [checked]="node.expanded" (click)="toggleExpand(node)">
  <label (click)="select(node)" [class.selected]="currentNode == node"><span class="data-operator" *ngIf="node.name ===  undefined">{{node.type}}</span><span class="data-operator" *ngIf="node.name !==  undefined">{{node.name}}</span><span *ngIf="currentNode == node">**</span></label>
  <div class="tree-node-children" style="margin-left: 50px" *ngIf="node.expanded">
    <div class="children" *ngFor="let c of node.children">
      <tree-node [node]="c" [currentNode]="currentNode" (selectedNode)="functionde($event)"></tree-node>
    </div>
  </div>
</div>