.option-view(*ngIf='enode')
  label(*ngIf="enode.data.type == 'link'")
    select(*ngIf="aux")
      option(*ngFor="let o of aux.children")
        | {{o.label.data}}
  label(*ngIf="enode.data.type == 'option'")
    input(type='radio', [name]='enode.id')
    | {{enode.label.data}}

  .option-text(*ngIf="enode.data.type == 'text-short'")
    label
      | {{enode.label.data}}
    input(type='text', [name]='enode.id')
  .option-text(*ngIf="enode.data.type == 'text-long'")
    label
      | {{enode.label.data}}
    textarea([name]='enode.id')


  .option-text(*ngIf="enode.data.type == 'min'")
    label
      | Level Minimum: {{enode.data.value}}
  .option-text(*ngIf="enode.data.type == 'max'")
    label
      | Level Maximum: {{enode.data.value}}
