.option-view(*ngIf='enode')
  label(*ngIf="enode.data.type == 'option'")
    input(type='radio', [name]='enode.id')
    | {{enode.label.data}}

  .option-text(*ngIf="enode.data.type == 'text-short'")
    input(type='text', [name]='enode.id')
  .option-text(*ngIf="enode.data.type == 'text-long'")
    textarea([name]='enode.id')


  .option-text(*ngIf="enode.data.type == 'min'")
    label
      | Level Minimum: {{enode.data.value}}
  .option-text(*ngIf="enode.data.type == 'max'")
    label
      | Level Maximum: {{enode.data.value}}
