.ml(*ngIf="enode")
  p
    | Boolean Operator: {{enode.data.bool}}
  
  ul.ml-children
    li(*ngFor="let d of enode.children") 
      match-view(*ngIf="d.type == 'match'", [enode]="d")
      match-logic-view(*ngIf="d.type == 'match-logic'", [enode]="d")
