div
  .input-row
    label
      | Type: 
    select([(ngModel)]="data.type", placeholder='Type')
      option(*ngFor="let t of getQuestionTypes()", [ngValue]="t")
        | {{t.name}}
  .input-row
    label
      | Sub Type: 
    select(*ngIf="data.type != null", [(ngModel)]="data.subType", placeholder='Sub Type')
      option(*ngFor="let r of data.type.subTypes", [ngValue]="r")
        | {{r.name}}
  .input-row
    label
      | Visibility:
    input([(ngModel)]="data.visibility" type='checkbox', placeholder='Default visibility', name='visibility')

