.input-row(*ngIf="root")
  label
    | Operator
  select.form-control([(ngModel)]="tmp.operator")
    option(disabled) 
      | Select an Action
    option(*ngFor="let op of getOperatorTypes()", [ngValue]="op")
      | {{op.name}}

  button(*ngIf="tmp.target")
    | {{tmp.target.code}}
  button(*ngIf="!tmp.target", (click)="setTarget(0)", [class.active]="tmp.targetIdx == 0")
    | Select a Target

  button(*ngIf="tmp.targetOption", )
    | {{tmp.targetOption.code}}
  button(*ngIf="!tmp.targetOption", (click)="setTarget(1)", [class.active]="tmp.targetIdx == 1")
    | Select a Target Option

  .catalog-wrapper
    enode([enode]="root", [current]="tmp.target", (selected)="handleSelectedTarget($event)")



